{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    {% include "auctions/banner.html" %}
    <section class="jewelry-auction-section padding-bottom padding-top pos-rel">
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="title-area">
                        <h2 class="title mb-0">Top auctions list</h2>
                    </div>
                </div>
                <a href="{% url 'auctionList' %}" class="normal-button">View All</a>
            </div>
            <div class="row justify-content-center mb-30-none">
                {% for top_three_p_list in top_three_products %}
                    <div class="col-sm-10 col-md-6 col-lg-4">

                        <div class="auction-item-2">
                            <div class="auction-thumb">
                                <a href="{% url 'auctionDetails' top_three_p_list.id %}"><img
                                        src="{{ top_three_p_list.image_url }}" alt="{{ top_three_p_list.title }}"></a>
                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="{% url 'auctionDetails' top_three_p_list.id %}">{{ top_three_p_list.title }}</a>
                                </h6>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">${{ top_three_p_list.starting_bid }}</div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount">
                                                <del>${{ top_three_p_list.buy_now_price }}</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <div class="countdown-timer" data-expire-date="{{ top_three_p_list.expire_date }}"></div>
                                    </div>
                                    <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--============= Jewelry Auction Section Ends Here =============-->


    <!--============= Call In Section Starts Here =============-->
    <section class="call-in-section padding-top pt-max-xl-0">
        <div class="container">
            <div class="call-wrapper cl-white bg_img"
                 data-background="{% static 'auctions' %}/images/call-in/call-bg.png">
                <div class="section-header">
                    <h3 class="title">Register for Free & Start Bidding Now!</h3>
                    <p>From cars to diamonds to iPhones, we have it all.</p>
                </div>
                <a href="sign-up.html" class="custom-button white">Register</a>
            </div>
        </div>
    </section>
    <!--============= Call In Section Ends Here =============-->

    {% if watch_cat_products|length > 0 %}
    <!--============= Watches Auction Section Starts Here =============-->
    <section class="watches-auction-section padding-bottom padding-top">
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="thumb">
                        <img src="{% static 'auctions' %}/images/header-icons/coin-1.png" alt="header-icons">
                    </div>
                    <div class="title-area">
                        <h2 class="title">Watches</h2>
                        <p>Shop for men & women designer brand watches</p>
                    </div>
                </div>
                <a href="/auctions" class="normal-button">View All</a>
            </div>
            <div class="row justify-content-center mb-30-none">
                {% for watch_p_list in watch_cat_products %}
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="{% url 'auctionDetails' watch_p_list.id %}"><img
                                        src="{{ watch_p_list.image_url }}" alt="{{ watch_p_list.title }}"></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="{% url 'auctionDetails' watch_p_list.id %}">{{ watch_p_list.title }}</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        <div class="amount">${{ watch_p_list.starting_bid }}</div>
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">
                                            <del>${{ watch_p_list.buy_now_price }}</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div class="countdown-timer" data-expire-date="{{ watch_p_list.expire_date }}"></div>
                                </div>
                                <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--============= Watches Auction Section Ends Here =============-->
    {% endif %}

    {% if real_state_cat_products|length > 0 %}
    <!--============= Real Estate Section Starts Here =============-->
    <section class="real-estate-auction padding-top padding-bottom pos-rel oh">
        <div class="car-bg"><img src="{% static 'auctions' %}/images/auction/realstate/real-bg.png" alt="realstate">
        </div>
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="thumb">
                        <img src="{% static 'auctions' %}/images/header-icons/coin-1.png" alt="header-icons">
                    </div>
                    <div class="title-area">
                        <h2 class="title">Real Estate</h2>
                        <p>Find auctions for Homes, Condos, Residential & Commercial Properties.</p>
                    </div>
                </div>
                <a href="{% url 'auctionList' %}" class="normal-button">View All</a>
            </div>
            <div class="auction-slider-4 owl-theme owl-carousel">
                {% for real_state_p_list in real_state_cat_products %}
                <div class="auction-item-4">
                    <div class="auction-thumb">
                        <a href="{% url 'auctionDetails' real_state_p_list.id %}"><img
                                        src="{{ real_state_p_list.image_url }}" alt="{{ real_state_p_list.title }}"></a>
                        <a href="{% url 'auctionDetails' real_state_p_list.id %}" class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h4 class="title">
                            <a href="{% url 'auctionDetails' real_state_p_list.id %}">{{ real_state_p_list.title }}</a>
                        </h4>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">${{ real_state_p_list.starting_bid }}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">
                                        <del>${{ real_state_p_list.buy_now_price }}</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div class="countdown-timer" data-expire-date="{{ real_state_p_list.expire_date }}"></div>
                            </div>
                            <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'auctionDetails' real_state_p_list.id %}" class="custom-button">Submit a bid</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
{#                <div class="auction-item-4">#}
{#                    <div class="auction-thumb">#}
{#                        <a href="product-details.html"><img#}
{#                                src="{% static 'auctions' %}/images/auction/realstate/auction-1.png"#}
{#                                alt="realstate"></a>#}
{#                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>#}
{#                    </div>#}
{#                    <div class="auction-content">#}
{#                        <h4 class="title">#}
{#                            <a href="product-details.html">Brand New Apartments In Esenyurt, Istanbul</a>#}
{#                        </h4>#}
{#                        <div class="bid-area">#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-auction"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Current Bid</div>#}
{#                                    <div class="amount">$876.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-money"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Buy Now</div>#}
{#                                    <div class="amount">$9,70.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="countdown-area">#}
{#                            <div class="countdown">#}
{#                                <div id="bid_counter31"></div>#}
{#                            </div>#}
{#                            <span class="total-bids">30 Bids</span>#}
{#                        </div>#}
{#                        <div class="text-center">#}
{#                            <a href="#0" class="custom-button">Submit a bid</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="auction-item-4">#}
{#                    <div class="auction-thumb">#}
{#                        <a href="product-details.html"><img#}
{#                                src="{% static 'auctions' %}/images/auction/realstate/auction-1.png"#}
{#                                alt="realstate"></a>#}
{#                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>#}
{#                    </div>#}
{#                    <div class="auction-content">#}
{#                        <h4 class="title">#}
{#                            <a href="product-details.html">Brand New Apartments In Esenyurt, Istanbul</a>#}
{#                        </h4>#}
{#                        <div class="bid-area">#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-auction"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Current Bid</div>#}
{#                                    <div class="amount">$360.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-money"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Buy Now</div>#}
{#                                    <div class="amount">$5,00.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="countdown-area">#}
{#                            <div class="countdown">#}
{#                                <div id="bid_counter32"></div>#}
{#                            </div>#}
{#                            <span class="total-bids">30 Bids</span>#}
{#                        </div>#}
{#                        <div class="text-center">#}
{#                            <a href="#0" class="custom-button">Submit a bid</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="auction-item-4">#}
{#                    <div class="auction-thumb">#}
{#                        <a href="product-details.html"><img#}
{#                                src="{% static 'auctions' %}/images/auction/realstate/auction-1.png"#}
{#                                alt="realstate"></a>#}
{#                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>#}
{#                    </div>#}
{#                    <div class="auction-content">#}
{#                        <h4 class="title">#}
{#                            <a href="product-details.html">Brand New Apartments In Esenyurt, Istanbul</a>#}
{#                        </h4>#}
{#                        <div class="bid-area">#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-auction"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Current Bid</div>#}
{#                                    <div class="amount">$256.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-money"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Buy Now</div>#}
{#                                    <div class="amount">$5,00.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="countdown-area">#}
{#                            <div class="countdown">#}
{#                                <div id="bid_counter33"></div>#}
{#                            </div>#}
{#                            <span class="total-bids">30 Bids</span>#}
{#                        </div>#}
{#                        <div class="text-center">#}
{#                            <a href="#0" class="custom-button">Submit a bid</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="auction-item-4">#}
{#                    <div class="auction-thumb">#}
{#                        <a href="product-details.html"><img#}
{#                                src="{% static 'auctions' %}/images/auction/realstate/auction-1.png"#}
{#                                alt="realstate"></a>#}
{#                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>#}
{#                    </div>#}
{#                    <div class="auction-content">#}
{#                        <h4 class="title">#}
{#                            <a href="product-details.html">Brand New Apartments In Esenyurt, Istanbul</a>#}
{#                        </h4>#}
{#                        <div class="bid-area">#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-auction"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Current Bid</div>#}
{#                                    <div class="amount">$189.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="bid-amount">#}
{#                                <div class="icon">#}
{#                                    <i class="flaticon-money"></i>#}
{#                                </div>#}
{#                                <div class="amount-content">#}
{#                                    <div class="current">Buy Now</div>#}
{#                                    <div class="amount">$5,00.00</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="countdown-area">#}
{#                            <div class="countdown">#}
{#                                <div id="bid_counter34"></div>#}
{#                            </div>#}
{#                            <span class="total-bids">30 Bids</span>#}
{#                        </div>#}
{#                        <div class="text-center">#}
{#                            <a href="#0" class="custom-button">Submit a bid</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="slider-nav real-style ml-auto">
                <a href="#0" class="real-prev"><i class="flaticon-left-arrow"></i></a>
                <div class="pagination"></div>
                <a href="#0" class="real-next active"><i class="flaticon-right-arrow"></i></a>
            </div>
        </div>
    </section>
    <!--============= Real Estate Section Starts Here =============-->
    {% endif %}

    <!--============= Art Auction Section Starts Here =============-->
    <section class="art-and-electronics-auction-section padding-top">
        <div class="container">
            <div class="row justify-content-center mb--50">
                <div class="col-xl-6 col-lg-8 mb-50">
                    <div class="section-header-2">
                        <div class="left">
                            <div class="thumb">
                                <img src="{% static 'auctions' %}/images/header-icons/camera-1.png" alt="header-icons">
                            </div>
                            <h2 class="title">Electronics</h2>
                        </div>
                        <div class="slider-nav">
                            <a href="#0" class="electro-prev"><i class="flaticon-left-arrow"></i></a>
                            <a href="#0" class="electro-next active"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                    <div class="auction-slider-1 owl-carousel owl-theme  mb-30-none">
                        <div class="slide-item">
                            {% for electronics_p_list in electronics_cat_products %}
                            <div class="auction-item-1">
                                <div class="auction-thumb">
                                     <a href="{% url 'auctionDetails' electronics_p_list.id %}"><img
                                        src="{{ electronics_p_list.image_url }}" alt="{{ electronics_p_list.title }}"></a>
                                    <a href="{% url 'auctionDetails' electronics_p_list.id %}" class="bid"><i class="flaticon-auction"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a href="{% url 'auctionDetails' electronics_p_list.id %}">{{ electronics_p_list.title }}</a>
                                    </h6>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">${{ electronics_p_list.starting_bid }}</div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <div class="countdown">
                                            <div class="countdown-timer" data-expire-date="{{ electronics_p_list.expire_date }}"></div>
                                        </div>
                                        <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="slide-item">
                            {% for watch_p_lists in watch_cat_products %}
                            <div class="auction-item-1">
                                <div class="auction-thumb">
                                     <a href="{% url 'auctionDetails' watch_p_lists.id %}"><img
                                        src="{{ watch_p_lists.image_url }}" alt="{{ watch_p_lists.title }}"></a>
                                    <a href="{% url 'auctionDetails' watch_p_lists.id %}" class="bid"><i class="flaticon-auction"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a href="{% url 'auctionDetails' watch_p_lists.id %}">{{ watch_p_lists.title }}</a>
                                    </h6>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">${{ watch_p_lists.starting_bid }}</div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <div class="countdown">
                                            <div class="countdown-timer" data-expire-date="{{ watch_p_lists.expire_date }}"></div>
                                        </div>
                                        <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 mb-50">
                    <div class="section-header-2">
                        <div class="left">
                            <div class="thumb">
                                <img src="{% static 'auctions' %}/images/header-icons/art-1.png" alt="header-icons">
                            </div>
                            <h2 class="title">Art</h2>
                        </div>
                        <div class="slider-nav">
                            <a href="#0" class="art-prev"><i class="flaticon-left-arrow"></i></a>
                            <a href="#0" class="art-next active"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                    <div class="auction-slider-2 owl-carousel owl-theme mb-30-none">
                        <div class="slide-item">
                            {% for art_p_list in art_cat_products %}
                            <div class="auction-item-1">
                                <div class="auction-thumb">
                                     <a href="{% url 'auctionDetails' art_p_list.id %}"><img
                                        src="{{ art_p_list.image_url }}" alt="{{ art_p_list.title }}"></a>
                                    <a href="{% url 'auctionDetails' art_p_list.id %}" class="bid"><i class="flaticon-auction"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a href="{% url 'auctionDetails' art_p_list.id %}">{{ art_p_list.title }}</a>
                                    </h6>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">${{ art_p_list.starting_bid }}</div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <div class="countdown">
                                            <div class="countdown-timer" data-expire-date="{{ art_p_list.expire_date }}"></div>
                                        </div>
                                        <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="slide-item">
                            {% for art_p_list in art_cat_products %}
                            <div class="auction-item-1">
                                <div class="auction-thumb">
                                     <a href="{% url 'auctionDetails' art_p_list.id %}"><img
                                        src="{{ art_p_list.image_url }}" alt="{{ art_p_list.title }}"></a>
                                    <a href="{% url 'auctionDetails' art_p_list.id %}" class="bid"><i class="flaticon-auction"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a href="{% url 'auctionDetails' art_p_list.id %}">{{ art_p_list.title }}</a>
                                    </h6>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">${{ art_p_list.starting_bid }}</div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <div class="countdown">
                                            <div class="countdown-timer" data-expire-date="{{ art_p_list.expire_date }}"></div>
                                        </div>
                                        <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Art Auction Section Ends Here =============-->


    <!--============= How Section Starts Here =============-->
    <section class="how-section padding-top">
        <div class="container">
            <div class="how-wrapper section-bg">
                <div class="section-header text-lg-left">
                    <h2 class="title">How it works</h2>
                    <p>Easy 3 steps to win</p>
                </div>
                <div class="row justify-content-center mb--40">
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'auctions' %}/images/how/how1.png" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Sign Up</h4>
                                <p>No Credit Card Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'auctions' %}/images/how/how2.png" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Bid</h4>
                                <p>Bidding is free Only pay if you win</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="how-item">
                            <div class="how-thumb">
                                <img src="{% static 'auctions' %}/images/how/how3.png" alt="how">
                            </div>
                            <div class="how-content">
                                <h4 class="title">Win</h4>
                                <p>Fun - Excitement - Great deals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}