{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <!--============= Product Auction Section Starts Here =============-->
    <div class="product-auction padding-bottom" style="padding-top: 150px;">
        <div class="container">
            <div class="product-header mb-40">
                <div class="product-header-item">
                    <div class="item">Category :</div>
                    <select name="filter-by" class="select-bar" id="filterCat">
                        <option value="all">All</option>
                        {% for cat in categories %}
                            <option {% if selected_category == cat.title %} selected {% endif %} value="{{ cat.title }}">{{ cat.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <form method="get" action="/auctions" class="product-search ml-auto">
                    <input name="q" type="text" placeholder="Item Name">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            {% if total_auctions > 0 %}
            <div class="row mb-30-none">
                {% for auction_p_list in auctions %}
                    <div class="col-sm-10 col-md-6 col-lg-4">
                        <div class="auction-item-2">
                            <div class="auction-thumb">
                                <a href="{% url 'auctionDetails' auction_p_list.id %}"><img
                                        src="{{ auction_p_list.image_url }}" alt="{{ auction_p_list.title }}"></a>
                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="{% url 'auctionDetails' auction_p_list.id %}">{{ auction_p_list.title }}</a>
                                </h6>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">${{ auction_p_list.starting_bid }}</div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount">
                                                <del>${{ auction_p_list.buy_now_price }}</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <div class="countdown-timer" data-expire-date="{{ auction_p_list.expire_date }}"></div>
                                    </div>
                                    <span class="total-bids">{{ present_bid|default:"0" }} Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul class="pagination">
                {% for num in auctions.paginator.page_range %}
                    <li>
                        <a {% if num == auctions.number %} class="active"{% endif %} href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Product not found</p>
            {% endif %}
        </div>
    </div>
    <!--============= Product Auction Section Ends Here =============-->


{% endblock %}